%h1 Adicionar as últimas apostas

= form_tag :action => "insert" do |f|
    %h2 Apostas no EuroMilhoes
    %p Copy paste da pagina, mas so as apostas como aparece na figura a baixo
    %p
        =image_tag 'betView.png'
    %hr
    .p
        %textarea{:name => "results", :rows => 10, :cols => 40}
        
    
    %h2 Apostas no M1lhao
    %p Copy paste da pagina, mas so as apostas como aparece na figura a baixo
    %p
        =image_tag 'm1lhaoBet.PNG'
    %hr
    .p
        %textarea{:name => "results_m1lhao", :rows => 10, :cols => 40}
    .p
        %input{:type => "Submit",:class=>"btn"}