Proxima data   
= @next_beat_euromilhoes.next_game_date


Jackpot?
= @next_beat_euromilhoes.as_jackpot


Numero apostas
= @next_beat_euromilhoes.number_of_beats

Premio
=number_to_currency(@next_beat_euromilhoes.prize, :unit => "€")


Apostas
- @games.each do |game|
    - game.bets.each do |bet|
        = bet.to_s